.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-height: 100vh;
    flex-wrap: wrap;
    padding: 10px 0;
}

.home-container .card {
    position: relative;
    width: 20%;
    height: 70%;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05), inset -5px -5px 5px rgba(255, 255, 255, 0.5), 5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin: 20px;
}

.home-container .card .box {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    background: #fff9ed;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.home-container .card .box .content {
    padding: 20px;
    text-align: center;
}

.home-container .card .box .content img {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 80px;
    pointer-events: none;
}

.home-container .card .box .content h3 {
    font-size: 1.8em;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

.home-container .card .box .content p {
    font-size: 1em;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

.home-container .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #409eff;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.home-container .card:hover .box .content a {
    background: #ff4049;
}

.home-container .card:hover .box {
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
    background: linear-gradient(45deg, #b95ce4, #4f29cd);
}

.home-container .card:hover .box .content h3, .home-container .card:hover .box .content p {
    color: #fff;
}

/* Dark Mode styles */

.dark-theme {
    background: #232427;
}

.dark-theme .card {
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

.dark-theme .card .box {
    background: #2a2b2f;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.dark-theme .card .box .content h3 {
    color: rgba(255, 255, 255, 0.9);
}

.dark-theme .card .box .content p {
    color: rgba(255, 255, 255, 0.9);
}

.dark-theme .card .box .content a {
    background: #000;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.dark-theme .home-container .card:nth-child(1) .box .content a {
    background: #f00;
}

.dark-theme .home-container .card:nth-child(2) .box .content a {
    background: #ba00ec;
}

.dark-theme .home-container .card:nth-child(3) .box .content a {
    background: #4158d0;
}

.dark-theme .home-container .card:hover .box {
    background-color: #4158d0;
    background-image: linear-gradient(43deg, #ffcc70 0%, #c850c0 46%, #4158d0 100%);
}

/*Checkbox Button*/

.center {
    position: absolute;
    top: 3%;
    right: 3%;
}

.center input[type="checkbox"] {
    position: relative;
    width: 80px;
    height: 30px;
    -webkit-appearance: none;
    background: #111;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 0 0 2px #1f1f1f, inset -2px -2px 5px rgba(255, 255, 255, .1), inset 2px 2px 5px rgba(0, 0, 0, .5);
    transition: 0.5s;
}

.center input:checked[type="checkbox"] {
    background: #00c9ff;
    box-shadow: 0 0 0 2px #1f1f1f, 0 10px 20px rgba(0, 0, 0, .5), inset 0 0 5px rgba(0, 0, 0, 1), inset 0 0 15px rgba(0, 0, 0, .5);
}

.center input[type="checkbox"]:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 30px;
    background: linear-gradient(to top, #000, #6b6b6b);
    border-radius: 20px;
    box-shadow: 0 0 0 1px #232323;
    transform: scale(0.98, 0.96);
    transition: 0.5s;
}

.center input:checked[type="checkbox"]:before {
    left: 20px;
}

.center input[type="checkbox"]:after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: 45px;
    width: 4px;
    height: 4px;
    background: #f00;
    box-shadow: 0 0 5px #f00, 0 0 15px #f00, 0 0 30px #f00;
    border-radius: 50%;
    transition: 0.5s;
}

.center input:checked[type="checkbox"]:after {
    background: #00c9ff;
    left: 65px;
    box-shadow: 0 0 3px #00c9ff, 0 0 9px #00c9ff, 0 0 27px #00c9ff;
}